node_modules
.next
docs
.content-collections
out
dist
.vercel
.DS_Store
*.log
.env.*
.env
.env.local
.env.development.local
.env.production.local
!.env.example
coverage
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
Thumbs.db
